div{
    margin: 10px;
    border: 1px solid black;
    font-size: 20px;
    height: 80px;
}

#header{
    background-color: blueviolet;
}
#sidebar{
    background-color: blueviolet;
    float:right;
    width:150px;
    
 
}
#main{
    background-color: blueviolet;
    height: 200px;
    margin-left:170px;
}
#footer{
    background-color: blueviolet;
}